# Mac
.DS_Store

# Packer files
variables.json

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible services files
*.retry
jdauphant.nginx

# Idea files
.idea

# Editor
.editorconfig
