[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '2.7'


[dev-packages]

molecule = ">=2.4"
ansible = ">=2.6"
testinfra = ">=1.10"
python-vagrant = ">=0.5.15"


[packages]
